[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
typing-inspect = "*"
requests = "*"
requests-cache = "*"
click = "*"
pydantic = "*"
devtools = "*"

[requires]
python_version = "3.9"
